.home-page {
  background-color: black;
  height: 100vh;
}

.home-page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1 {
  font-size: 100px;
  color: white;
  margin-bottom: 20px;
}

.home-nav {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
