.home-page {
  height: 100vh;
  background: url("https://i.imgur.com/SKo4xxk.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  bottom: 105px;
  right: 20px;
}

h1 {
  font-size: 135px;
  color: white;
  margin-bottom: 10px;
}

.home-nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-top: 10px;
}

.music-icon {
  height: 25px;
  width: 25px;
  background-image: url("https://i.imgur.com/72xhKjz.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0) invert(1);
}

.music-icon:hover {
  background-image: url("https://i.imgur.com/DgdkvMq.png");
  filter: none;
}

.google-login-icon {
  height: 25px;
  width: 25px;
  background-image: url("https://i.imgur.com/IIUGvUg.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.google-login-icon:hover {
  background-image: url("https://i.imgur.com/BlMFfs1.png");
  filter: none;
}

.google-logout-icon {
  height: 25px;
  width: 25px;
  background-image: url("https://i.imgur.com/NVAHAOs.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .home-page-content {
    bottom: 60px;
  }

  h1 {
    font-size: 100px;
  }
}

@media only screen and (min-height: 900px) {
  .home-page-content {
    bottom: 150px;
  }

  h1 {
    font-size: 165px;
  }
}
