.home-page {
  background-color: black;
  height: 100vh;
  background: url("https://i.imgur.com/SKo4xxk.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  bottom: 105px;
  right: 20px;
}

h1 {
  font-size: 135px;
  color: white;
  margin-bottom: 10px;
}

.home-nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 770px) {
  .home-page-content {
    bottom: 60px;
  }

  h1 {
    font-size: 100px;
  }
}
