* {
  font-family: "Rubik", sans-serif;
}

.tracks-wrapper {
  height: 100vh;
}

.tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
