* {
  font-family: "Rubik", sans-serif;
}

.tracks-wrapper-whole {
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.all-tracks {
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.ind-track {
  width: 100%;
  height: 50%;
  background-color: pink;
  display: flex;
  align-items: center;
}
