* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.single-track-wrapper {
  height: 100vh;
  background-color: rgb(31, 28, 37);
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-track {
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-image {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  border: 1px solid rgb(243, 47, 168);
  position: relative;
  animation-name: slideout;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes slideout {
  from {
    top: 10px;
    left: 10px;
    box-shadow: none;
  }

  to {
    top: 0;
    left: 0;
    box-shadow: 12px 12px 10px rgb(243, 47, 168);
  }
}
