.button-flex {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.track-button-user {
  padding: 5px;
  background-color: #b63600;
  border: none;
  color: white;
  cursor: pointer;
}

.track-button-user:hover {
  background-color: #ff4e00;
}

.track-button-disable {
  padding: 5px;
  border: none;
}

.update-button {
  margin-bottom: 7px;
}

@media only screen and (max-width: 620px) {
  .button-flex {
    width: 31%;
  }
}
